app:
  servicing:
    base-url: http://localhost:8084

server:
  port: 8083

spring:
  application:
    name: origination-service

  datasource:
    url: jdbc:mysql://localhost:3306/lms_origination?useSSL=false&serverTimezone=UTC
    username: root
    password: Mysql@123

  jpa:
    hibernate:
      ddl-auto: update   # dev only
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQL8Dialect

logging:
  level:
    org.hibernate.SQL: info
    org.hibernate.orm.jdbc.bind: info

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30
